<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>	
    
	<div class="row" th:fragment="contentPage">
      	<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card card-primary">
			   	<div class="card-header">
						<h5><b> Hello World </b></h5>
				</div>
				<div>
					<div class="">
			        	<div id="table" style="height: 400px;">
			        		<table>
			        			<thead>
			        				<tr>
			        					<td>content Header</td>
			        				</tr>
			        			</thead>
			        			<tbody>
			        				<tr th:each= "emp :  ${users}">
			        					<td th:text="${emp.employeeId}"></td>
			        					<td th:text="${emp.userName}"></td>
			        					<td th:text="${emp.firstName}"></td>
			        					<td th:text="${emp.lastName}"></td>
			        				</tr>
			        			</tbody>
			        		</table>
			        	</div>   
			        	   	
			        </div>
				</div>
				<div class="card-footer">
			        <span class="float-left">Footer</span>
			     
			    </div>
			</div>
		</div>   		
    </div>
    
    

   
   
    
    

</body>
</html>